html {
    font-size: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
}

h5, li {
    font-size: 1.4rem;
}

article {
    font-size: 1.6rem;
}

.practice-experiences .time-line {
    vertical-align: top;
}

.practice-experiences .info h5, ol {
    margin: 0 0 0 2rem;
}

ol, ul {
    padding-left: 1.4rem;
}

h1, h3, h5 {
    font-weight: normal;
    color: red;
}


