body {
    margin: 0;
    padding: 0;
}

article {
    background: grey;
    height: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px #333333;
}