body {
    margin: 0;
    padding: 0;
}

article {
    height: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px #333333;
}

a:visited {
    background: black;
}

a:hover {
    background: yellow;
}