body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  li {
    display: inline-block;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

header {
  background-color: rgb(51, 51, 51);
  color: white;
  height: 80px;
  .wrapper {
    position: relative;
    h1 {
      font-size: 30px;
      line-height: 30px;
      //position: relative;
      margin: 0;
      padding-top: 20px;
    }
    ul {
      font-size: 14px;
      position: absolute;
      top: 10px;
      right: 0;
    }
    a {
      color: #ffffff;
    }
  }
}

.banner {
  background-color: #66bb33;
  width: 100%;
  height: 300px;
  .wrapper {
    position: relative;
    ul {
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0.5em;
      li {
        font-size: 15px;
        color: #335e1a;
        line-height: 35px;
        height: 35px;
        width: 30px;
        text-align: center;
        border: black solid 1px;
        background-color: #b2dd99;
      }
      li:nth-of-type(2) {
        background-color: #e0f1d6;
        color: #14250a;
        padding-top: 15px;
      }
    }
  }
}

.main-container {
  height: 650px;
  .nav {
    position: relative;
    height: auto;
    display: flex;
    .left, .right {
      flex: 1;
      border-bottom: #cccccc solid 1px;
    }
    ul {
      flex: 0 960px;
      display: flex;
      margin: 20px auto auto 0;
      padding-left: 0;
      li {
        flex: 0 106px;
        background-color: #eeeeee;
        padding: 20px 30px 16px 30px;
        border: #cccccc solid 1px;
        border-radius: 20px 20px 0 0;
        font-size: 14px;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          font-size: 14px;
        }
      }
      li:nth-of-type(1) {
        background-color: white;
        border-bottom: none;
      }
      li:nth-of-type(4) {
        flex: 1;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: white;
      }
    }
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    .row {
      margin-top: 10px;
      display: flex;
      div {
        box-sizing: border-box;
        border: #cccccc solid 1px;
        margin-right: 12px;
        padding: 80px;
        height: 175px;
        text-align: center;
        flex: 1;
      }
    }
  }
}

footer {
  background-color: #666666;
  color: white;
  height: 120px;
  text-align: center;
  span {
    display: inline-block;
    font-size: 14px;
    margin: 20px auto 86px auto;
  }
}