.m-nav-bar-primary {
  width: 100px;
  z-index: 2001;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #1d2531;
}

.m-nav-bar-primary .m-icon-bar {
  margin: 10px 10px;
}

.m-nav-bar-primary .m-icon-bar .m-icon {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

.m-nav-bar-primary .m-icon-bar-sm {
  position: absolute;
  bottom: 0;
  margin: 12px 18px;
}

.m-nav-bar-primary .m-icon-bar-sm .m-icon-sm {
  width: 16px;
  height: 16px;
  margin: 8px;
}

.m-nav-bar-second {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 100px;
  width: 350px;
  z-index: 2000;
  background-color: #222c3c;
}

.m-nav-bar-second .m-nav-bar-second-container {
  margin: 30px 30px 0;
}

.m-nav-bar-second .m-nav-bar-second-container .hr {
  border-top: #2a3547 1px solid;
  margin: 20px 0;
}

.m-nav-bar-second .m-nav-list {
  width: 100%;
}

.m-nav-bar-second .m-nav-list-head {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  color: #5b6779;
}

.m-nav-bar-second .m-nav-list-head .m-nav-list-head-icon {
  width: 16px;
  height: 16px;
}

.m-nav-bar-second .m-nav-list-item {
  font-size: 13px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-nav-bar-second .m-nav-list-item-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 12px;
}

.m-nav-bar-second .m-nav-footer {
  font-size: 13px;
  position: absolute;
  bottom: 20px;
}

.m-nav-bar-second .m-nav-footer .m-nav-footer-title {
  margin-bottom: 13px;
}

.m-main-container {
  padding-left: 350px;
}

.m-main-container .m-main-head {
  font-size: 24px;
  margin: 26px 30px;
}

.m-header {
  height: 80px;
}

.m-header .m-profile {
  position: fixed;
  top: 0;
  right: 0;
  width: 216px;
  height: 50px;
  margin: 14px;
}

.m-header .m-profile .m-profile-name {
  color: #2399f1;
}

.m-header .m-profile .m-profile-role {
  color: #cacaca;
}

.m-header .m-profile .m-profile-control {
  width: 150px;
  height: 50px;
}

.m-header .m-profile .m-profile-control .m-profile-info {
  width: 80px;
  height: 40px;
}

.m-linkman {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  border-right: solid 1px #e6e9ec;
}

.m-linkman .m-linkman-search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #e6e9ec;
  margin: 0 -1px 0 0;
}

.m-linkman .m-linkman-search .m-linkman-search-group {
  border: solid 1px #e6e9ec;
  margin: auto 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

.m-linkman .m-linkman-search .m-linkman-search-group .m-linkman-form-control {
  border: 0;
  padding: 6px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.m-linkman .m-linkman-search .m-linkman-search-group .m-linkman-form-slash {
  width: 20px;
  height: 20px;
  margin: 8px 14px;
}

.m-linkman .m-linkman-item {
  padding-bottom: 16px;
  height: 120px;
}

.m-linkman .m-linkman-item .m-linkman-activate {
  color: #2399f1;
}

.m-linkman .m-linkman-item .m-linkman-item-header-text {
  margin-left: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-linkman .m-linkman-item .m-linkman-item-status {
  color: #99a5b6;
}

.m-linkman .m-linkman-item .m-linkman-item-text {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.m-linkman .m-linkman-item .m-linkman-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-linkman .m-linkman-item .m-linkman-item-content .m-linkman-item-content-status {
  margin: auto;
}

.m-linkman .m-linkman-item .m-linkman-title {
  margin: 8px 0;
  font-size: 16px;
  line-height: 16px;
}

.m-linkman .m-linkman-item .m-linkman-title-second {
  font-size: 14px;
  color: #b5b5b5;
  overflow: initial;
}

.m-message .m-status {
  margin-left: -1px;
}

.m-message .m-status .m-status-name {
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.m-message .m-status .m-status-space {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.m-message .m-status img {
  text-align: center;
}

.m-message .m-status .m-status-icon-container {
  width: 32px;
  height: 36px;
  text-align: center;
}

.m-message .m-status .m-status-serial {
  padding: 0 16px 0 24px;
  border-left: 1px solid #e6e9ec;
  font-size: 16px;
  line-height: 36px;
}

.m-message .m-status .m-icon-bar-first {
  margin: 0 24px;
}

.m-message .m-message-cur {
  margin-top: 24px;
}

.m-message .m-message-cur .m-message-per .m-message-per-avatar {
  margin-right: 20px;
}

.m-message .m-message-cur .m-message-per .m-message-per-text {
  line-height: 20px;
  font-size: 13px;
}

.m-message .m-message-cur .m-message-per .m-message-per-text .m-message-per-header {
  margin: 6px 0;
  font-size: 15px;
}

.m-message .m-message-cur .m-message-per .m-message-per-text .m-message-per-header .m-message-time {
  margin-left: 10px;
}

.m-message .m-message-container {
  margin: 0 30px;
}

.m-message .m-message-block {
  padding-bottom: 30px;
}

.m-message .m-message-block .m-message-block-new-header {
  border-color: #a7d6f9;
  color: #2399f1;
}

.m-message .m-message-block .m-message-block-header {
  margin-bottom: 10px;
}

.m-message .m-message-block .m-message-block-header .m-message-block-header-time {
  color: #7f8fa4;
}

.m-message .m-message-block .m-message-block-header .m-message-block-header-hr {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 7px 0;
}

.m-message .m-message-block .m-message-block-header span {
  font-size: 15px;
  line-height: 15px;
  padding: 0 14px;
}
/*# sourceMappingURL=main.css.map */