.header {
    background: #777777;
    padding-left: 1em;
}

.header > h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    line-height: 3em;
    margin: 0;
}

.content {
    border-right: #DDDDDD 2px ridge;
}

.content, .flex-row, .left, .right, h3 {
    display: inline-block;
}

.flex-row {
    min-height: 100px;
    width: 100%;
    border-bottom: #DDDDDD 2px ridge;
}

.left {
    background: #DDDDDD;
    width: 8em;
    height: 100%;
    text-align: center;
}

.left > h3 {
    margin: 0 auto;
    line-height: 100px;
}

.right {

    margin-top: 0.5em;
    height: auto;
    vertical-align: top;
}

.right > dd, dt {
    display: inline-block;
    margin-left: 0.5em;
}

