dd {
    font-weight: bold;
}

.content-one dd, dt {
    display: inline-block;
}

.content-one h3 + dd {
    margin: 0.5em 0;
}

.content-one dd + dt {
    margin-left: 0.5em;
}

.content-two dt + dd {
    margin-top: 1em;
}

.content-two dd {
    margin-left: 0;
}

.content-two h3 + dd {
    margin: 1.5em 0 0 0;
}