<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="stylesheets/layout_4.css">
    <meta charset="UTF-8">
    <title>ThreeCols</title>
    <style type="text/css"></style>
</head>
<body>
<section class="float">
    <h1>float</h1>
    <div class="container">
        <div class="center"><p>A machine that starts in state (set start ...) where each state behaves as specified in
            the rules. If a state is in (end ...), then the machine is accepting. next-state must be a state from this
            NFA.
            These machines are efficiently compiled to use the smallest possible bit-string as a set representation and
            unsafe numeric operations where appropriate for inspection and adjusting the sets.</p></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
</section>
<section class="position">
    <h1>position</h1>
    <div class="container">
        <div class="center"><p>A machine that starts in state (set start ...) where each state behaves as specified in
            the rules. If a state is in (end ...), then the machine is accepting. next-state must be a state from this
            NFA.
            These machines are efficiently compiled to use the smallest possible bit-string as a set representation and
            unsafe numeric operations where appropriate for inspection and adjusting the sets.</p></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
</section>
<section class="flex">
    <h1>flex</h1>
    <div class="container">
        <div class="left"></div>
        <div class="center"><p>A machine that starts in state (set start ...) where each state behaves as specified in
            the rules. If a state is in (end ...), then the machine is accepting. next-state must be a state from this
            NFA.
            These machines are efficiently compiled to use the smallest possible bit-string as a set representation and
            unsafe numeric operations where appropriate for inspection and adjusting the sets.</p></div>
        <div class="right"></div>
    </div>
</section>
</body>
</html>