<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/layout_5.css">
    <meta charset="UTF-8">
    <title>ThreeCols</title>
</head>
<body>
<section class="float">
    <h1>float</h1>
    <div class="container">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right">The basic goal of the Cascading Stylesheet (CSS) language is to allow a browser engine to
            paint elements of the page with specific features, like colors, positioning, or decorations. The CSS syntax
            reflects this goal and its basic building blocks are:
        </div>
    </div>
</section>
<section class="position">
    <h1>position</h1>
    <div class="container">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right">The basic goal of the Cascading Stylesheet (CSS) language is to allow a browser engine to
            paint elements of the page with specific features, like colors, positioning, or decorations. The CSS syntax
            reflects this goal and its basic building blocks are:
        </div>
    </div>
</section>
<section class="flex">
    <h1>flex</h1>
    <div class="container">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right">The basic goal of the Cascading Stylesheet (CSS) language is to allow a browser engine to
            paint elements of the page with specific features, like colors, positioning, or decorations. The CSS syntax
            reflects this goal and its basic building blocks are:
        </div>
    </div>
</section>
</body>
</html>